<footer class="footerEsponsor">
    <div class="iconosEsponsor">
        <a href="https://www.adidas.com.ar/" target="_blank"><img class="esponsor adidas" src="./assets/adidas.png"
                alt="esponsor adidas" title="esponsor" /></a>
        <a href="https://www.quilmes.com.ar/agegate/" target="_blank"><img class="esponsor quilmes" src="./assets/quilmes.png"
                alt="esponsor quilmes" title="esponsor" /></a>
        <a href="https://www.bancodelapampa.com.ar/" target="_blank"><img class="esponsor cooprol" src="./assets/cooprol.png"
                alt="esponsor cooperativa rolon" title="esponsor" /></a>
        <a href="https://www.bancodelapampa.com.ar/" target="_blank"><img class="esponsor bancoPampa"
                src="./assets/bancoPampa.png" alt="esponsor banco pampa" title="esponsor" /></a>
    </div>
</footer>



<div class="footer">
    <footer class="footer">
        <div class="logoFooter">
            <img class="imagenFooter" src="./assets/logoFooter.png" alt="icono footer" title="icono footer" />
        </div>
        <div class="iconosRedes">
            <a href="https://www.facebook.com/" target="_blank"><img class="iconosFooter" src="./assets/icono-facebook.jpg"
                    alt="red social facebook" title="redes sociales" /></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="iconosFooter" src="./assets/icono-instagram.jpg"
                    alt="red social intagram" title="redes sociales" /></a>
            <a href="pages/contacto.html" target="_blank"><img class="iconosFooter" src="./assets/icono-ubicacion.jpg"
                    alt="Ubicacion del Club" title="ubicacion" /></a>
        </div>
    </footer>


</div>