<div class="containerSocios">
<h3 class="titulo">Listado Socios</h3>
<div class="tabla">
    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dni</th>
                <th scope="col">Edad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datosSocio of socios">
                <th scope="row">{{datosSocio.nombre}}</th>
                <td>{{datosSocio.apellido}}</td>
                <td>{{datosSocio.dni}}</td>
                <td>{{datosSocio.edad}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>