<div class="menu">
    <ul>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Socios
            </span>
            <span class="flechaMenu">
                ❯
            </span>
            <hr />
        </li>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Agregar Socio
            </span>
            <span class="flechaMenu">
                ❯
            </span>
            <hr />
        </li>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Buscar Socio
            </span>
            <span class="flechaMenu">
                ❯
            </span>
            <hr />
        </li>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Cuota Social
            </span>
            <span class="flechaMenu">
                ❯
            </span>
            <hr />
        </li>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Estadisticas
            </span>
            <span class="flechaMenu">
                ❯
            </span>
            <hr />
        </li>
        <li>
            <span class="js-btn-menu">
                <div class="ico-cont">
                    <i class="fas fa-user"></i>
                </div>
                Cerrar Sesión
            </span>
        </li>
    </ul>
</div>