.titulo {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
}
.textoId{
    
    color: yellow;
}
.datosPerfil {
    display: flex;
}
.tipoSocio {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
}
.nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: yellow;
}

.imgPerfil {
    height: 80px;
    border-radius: 100%;

}
.menu{
   
        display: flex;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background-color: black;
    
}
ul {
    list-style: none;
    cursor: pointer;
    width: 100%;

}

li {
    color: white;
    font-weight: 600;
    width: 100%;
}

li:hover {
    color: yellow;
}

.flechaMenu {
    float: right;
    margin-right: 5px;
}